body {
    background: rgb(243, 243, 243) !important;
}

html {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

#logo {
    color: #2571B3;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
}

.footer {
    background: #e0e0e0;
    box-shadow: 0px 1000px 0px 1000px #e0e0e0;
}

.top-bar {
    background: #343A40;
}