body,html {
    border-top: 3px solid #2571B3;
    background: #eee !important;
}
#logo {
    color: #2571B3;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
}
