
.champ-rating-solid {
    color:white;
    border-radius: 50%;
    padding: 6px;
    width: 37px;
    height: 37px;
    text-align: center;
    background: lightgrey;
    font-weight: bold;
}

.champ-rating {
    color: #e2e2e2;
    border-radius: 50%;
    border: 3px solid #e2e2e2;
    padding: 2px;
    padding-left: 1px;
    padding-top: 0px;
    margin-right: 4px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
}

.champ-rating:hover {
    color: #2571B3;
    border-radius: 50%;
    border: 3px solid #2571B3;
    padding: 2px;
    padding-top: 0px;
    margin-right: 4px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-top: 2px;
}

.champ-rating-loading {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #2571B3; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color:transparent;
    animation: spin 0.4s linear infinite;
    display: inline-block;
    margin-right: 4px;
  }

  .champ-rating-voted {
    background-color: #736f6f;
    color:white;
    border:3px solid #736f6f;
    cursor: default !important;
  }

  .champ-rating-voted:hover {
    background-color: #736f6f;
    color:white;
    border:3px solid #736f6f;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .rating-S {
    background: rgb(19, 82, 138);
  }

  .rating-A {
    background:#2C3E63;
  }
  .rating-B {
    background:#3B334C;
  }
  .rating-C {
    background:#50222B;
  }
  .rating-D {
      background: #6B0D01;
  }
