.page-loading {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #2571B3; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color:transparent;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 4px;
  }

  .champ-splash {
      box-shadow: inset 0px 0px 0px 500px rgba(0,0,0,0.3);
      background-position: center -20px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      height: 320px;
  }

  .tier-big {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      color: white;
      text-align: center;
      padding-top: 2px;
      font-weight: bold;
  }

  .contrib-portrait {
      max-height: 120px;
      max-width: 120px;
  }

  .contrib-name {
      font-size: 30px;
      margin-left: -2px;
      margin-top: -10px;
  }

  .champ-name:hover {
      text-decoration: underline;
      color:black !important;
  }

  .difficulty-font {
      font-family: 'Courier New Header', Courier Header, monospace;
      font-weight: bold;
  }

  .comments-text {
      font-size: 15px;
  }