.champ-name-1 {
    font-size: 80px;
    color: #2571B3;
    margin: 0;
    margin-bottom: 20px;
}

.role-button-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

.player-container {
    display: inline-block;
    width: 32%;
    height: 150px;
    margin-bottom: 10px;
}

h3 {
    font-size: 12px;
    margin: 0;
}

.player-portrait {
    float: left;
    width: 150px;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
}

.player-name {
    margin-bottom: 3px;
    margin-top: 0;
}

.player-bio {
    font-size: 12px;
    margin: 0;
}

.socials-container {
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
}

#twitch {
    width: 35px;
}

#youtube {
    height: 35px;
}

#opgg {
    height: 35px;
}

#twitter {
    width: 35px;
}

.information {
    font-style: italic;
    font-size: 12px;
}

.plug {
    margin-bottom: 10px;
    font-size: 12px;
}