.champ-name-1 {
    font-size: 60px;
    color: #2571B3;
    margin: 0;
    margin-bottom: 20px;
}

.role-button-container {
    display: flex;
    justify-content: center;
}

.champion-container {
    display: inline-block;
    width: 320px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 0 10px black;
}

.champion-container img {
    float: left;
    width: 150px;
}

.rating-area {
    display: flex;
    flex-direction: column;
}

.champion-rating-1 {
    float: right;
    font-size: 27px;
    color: #D6CECE;
    margin: 0;
    margin-top: 23%;
}

.button-container {
    margin: 0;
}
