* {
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    text-align: center;
    font-weight: 100;
}

.champ-row {
    outline: 1px solid black;
    color: #D6CECE;
}

.name-container {
    width: 250px;
    height: 75px;
    border-left: 1px solid black;
}

.champ-name {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.image-container {
    width: 75px;
    border-left: 2px solid black;
}

.champ-icon {
    height: 50px;
}

.roles-container {
    width: 300px;
    border-left: 2px solid black;
}

.champ-roles {
    font-size: 22px;
}

.rating-container {
    width: 150px;
    border-left: 2px solid black;
    border-right: 1px solid black;
}

.champ-rating {
    font-size: 28px;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
}